[Unit]
Description=Trojan Server
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/trojan
Restart=on-failure

[Install]
WantedBy=multi-user.target
